a[target="_top"]{
    background-color: yellow;
}
.class1{
    background-color: orange;
}
.class1 .class2{
    background-color: white;
}
.class1 .class2 .class3{
    background-color: green;

}
/* div[data-color="red"]{
    color:  red;
} */

div span {
    background-color: red;
}